<%- include('layouts/headTop',{ title: '首页' }); %>
<%- include('layouts/headMain',{  }); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>ok</div>

<%- include('layouts/footer',{  }); %>
